.jumbotron {
    background-color: #436280;
    color: White;
}
.btn-primary{
    background-color: #a3bad2;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #436280;
    margin-bottom: 0px;
    margin-top: 10px;
    color: aliceblue;
}

.card-hotel{
    flex: 1 150px;
    padding: 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
}